.header {
  background: #b71775;
  height: auto;
}
h1 {
  vertical-align: middle;
}
.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.article-link {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
